<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EJS-Apollo-Typescript-Sequelize Starter</title>

    <link href="/assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/vendor/jquery/jquery-3.6.0.min.js"></script>
</head>