<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>
    <body>
        <div class="container d-flex flex-column align-items-center justify-content-center vw-100 vh-100">
            <h1>EJS Apollo Typescript Sequelize Example App</h1>
        </div>
    </body>
</html>